.ledger-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-light-pink);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.ledger-form h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-dark-gray);
}

.ledger-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ledger-form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: var(--color-dark-gray);
}

.ledger-form input[type="text"],
.ledger-form input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  appearance: none; /* Hide default spinner */
  -webkit-appearance: none; /* Hide default spinner in WebKit browsers */
  -moz-appearance: none; /* Hide default spinner in Firefox */
}

.ledger-form input[type="number"] {
  appearance: textfield; /* Remove spin buttons */
  -webkit-appearance: none; /* Hide spin buttons in WebKit-based browsers */
  -moz-appearance: textfield; /* Hide spin buttons in Firefox */
}

.toggle-buttons {
  display: flex;
  justify-content: space-evenly;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 10px;
}

.toggle-button:hover {
  background-color: var(--color-light-blue);
  transform: scale(1.05);
}

.ledger-form select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
}

.category-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--color-white);
}

.category-select-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1 1 calc(33.333% - 20px); /* 3 columns with gaps */
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-dark-gray);
}

.category-select-container label:nth-child(3n) {
  border-right: 1px solid var(--color-dark-gray);
}

.category-select-container label:last-child {
  border-right: none;
}

.custom-category {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
}

.category-select-container input[type="checkbox"] {
  appearance: checkbox; /* Standard checkbox appearance */
  -webkit-appearance: checkbox; /* Ensure proper appearance in WebKit-based browsers */
  accent-color: var(--color-blue); /* Change checkbox color in modern browsers */
}

.ledger-form button[type="submit"] {
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
  align-self: center;
  transition: transform 0.3s;
}

.ledger-form button[type="submit"]:hover {
  transform: scale(1.05);
}

